{% extends 'base.html.twig' %}

{% block body %}

<h3 class="mt-5">Page Category</h3>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Déscription</th>
    </tr>
  </thead>
  <tbody>
{% for category in tabCategory %}
    <tr>
      <th scope="row">{{ category.id }}</th>
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
